/*
#186710
#C0392B

*/


::-moz-selection {
    color: #ffffff;
    background: #186710;
}

::selection {
    color: #ffffff;
    background: #186710;
}

.btn-col,
.project-details h5,
.project-info h5 {
border-color: #186710;
color: #186710;
}

.btn-col:hover {
/*color: #C0392B;*/
color: #1b842f;
}

.section-title h3,
.section-title h4,
.step-no,
.sub-steps .icon,
.sub-steps .sub-text,
.testimonial .happy-client,
.client-photos .photo-hold, {
border-color:#186710;
}


.step-no .no-inner,
.project-details .details-list li .strong,
.social-icons ul li a:hover {
color:#186710;
}
.site-name:hover,.service-icon,.service-title,.section-title h3, .section-title h4 {
  /*yellow*/
  color: #EFB90E;
}
.color-scheme,.feature-title{
  /*green*/
  color:#186710;
}

.site-name span,
.photo-overlay h4 {
background-color: #186710;
}

.photo-zoom:before {
	border-color: rgba(0, 255, 255, 0) rgba(255, 0, 255, 0) rgba(231, 76, 60, 1) rgba(255, 255, 10, 0);

}
#section-services,#section-contact {
  background-color:#186710;
}
#section-screenshots{
  background-color:#f9f9f9;
}
.flipster__button {
color: #000000;
}

/*----- Bootstrap color overrides ------*/
.btn-primary {
  /*color: #fff;*/
    color: #EFB90E;
  background-color: #186710;
  border-color: #15560E;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    /*color: #fff;*/
      color: #EFB90E;
    background-color: #15560E;
    border-color: #186710;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    /*color: #fff;*/
    color: #EFB90E;
    background-color: #186710;
    border-color: #15560E;
}
.modal-content {
   border-radius: 0px;
}
.btn {
  border-radius: 0px;
}
.close ,.modal-title {
    color: #186710;
}
